*{
    margin:  0%;
    padding: 0%;
}

header{
    font-size: 30px;
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
    border-color: black 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 25px 10px;
}
.perfil{
    background: rgb(240, 242, 255);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
    text-align: center;
    width: 320px;
    height: 340px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.perfil p{
    font-size: 18px;
    padding: 6px;
}
.perfil:hover{
    transform: translateY(-20px);
    box-shadow: 0 20px 15px rgba(0, 0, 0, .4);
}
.perfil button{
    font-size: 20px;
    width: 100px;
    height: 40px;
}
.perfil img{
    margin: 10px 0px;
    padding: 5px;
    width: 200px;
    height: 200px;
    box-shadow: -2px 5px 8px rgba(0, 0, 0, .3);
    border-radius: 80%;
    object-fit: cover;
}